<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705295768491-atngnmchnr940pej1dj1k7a3vqo55uvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705295768491-atngnmchnr940pej1dj1k7a3vqo55uvm</string>
	<key>API_KEY</key>
	<string>AIzaSyABv8IG6_OsX1BydcV38X93iUF0pnlfmBg</string>
	<key>GCM_SENDER_ID</key>
	<string>705295768491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanbonforti.IntermediaCodeChallenge</string>
	<key>PROJECT_ID</key>
	<string>intermediachallenge-bbe85</string>
	<key>STORAGE_BUCKET</key>
	<string>intermediachallenge-bbe85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705295768491:ios:ae15dc0f380dc894ca90ee</string>
</dict>
</plist>